body {
	background: #000;
	color: #fff;
	padding: 20px;
}
#line2 {
	text-align: center;
	font-size: 0.2em;
}
#line1 {
	text-align: center;
	font-size: 1em;
}
.text {
	margin: 0 auto;
	max-width: 800px;
	font-family: monospace;
	font-weight: 400;
	padding: 10px;
}
.text em {
	font-weight: 700;
}
.text a {
	color: #888;
}
.text a:hover {
	color: #fff;
}
.link {
	cursor: pointer;
	border-bottom: 2px #888 dotted;
}
#intro {
	/*font-size: 1.5em;*/
}
#sites ul {
	padding-left: 10px;
}
#sites li {
	list-style: none;
}
#sites li:before {
	content: '- ';
}
#sites li span {
	left: 19em;
}
#sites li span:before {
	content: '\003C- '; 
}
#sites li a {
	left: 1em;
	width: 19em;
}
.text:not(.bash) {
	border: 1px #fff solid;
	margin: 10px auto;
}