body {
	background: #000;
	color: #fff;
	padding: 20px;
}
.text {
	margin: 0 auto;
	max-width: 800px;
	font-family: monospace;
	font-weight: 400;
	padding: 10px;
}
.text em {
	font-weight: 700;
}
.text a {
	color: #888;
}
.text a:hover {
	color: #fff;
}
.link {
	cursor: pointer;
	border-bottom: 2px #888 dotted;
}
#intro {
	font-size: 1.5em;
}
#sites ul {
	padding-left: 10px;
}
#sites li {
	list-style: none;
	position: relative;
}
#sites li:before {
	content: '- ';
}
#sites li span {
	position: absolute;
	left: 19em;
}
#sites li span:before {
	content: '\003C- '; 
}
#sites li a {
	position: absolute;
	left: 1em;
	width: 19em;
}