body {
	background: url(../img/stripes2.png);
}
#container_left {
	height: 250px;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	margin-left: 10%;
}
.text {
	width: 500px;
	font-family: monospace;
	font-weight: 400;
	padding: 10px;
}
.text em {
	font-weight: 700;
}
.text a {
	color: #444;
}
.text a:hover {
	color: #000;
}
.link {
	cursor: pointer;
	border-bottom: 2px #444 dotted;
}
#intro {
	font-size: 1.5em;
}
#sites ul {
	padding-left: 10px;
}
#sites li {
	list-style: none;
	position: relative;
}
#sites li:before {
	content: '- ';
}
#sites li span {
	position: absolute;
	left: 19em;
}
#sites li span:before {
	content: '\003C- '; 
}
#sites li a {
	position:absolute;
	left: 1em;
	width: 19em;
}