@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Gruppo);

html, body {
  overflow-x: hidden;
}
html {
  background-color: #5dcfc3;
}
body {
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
  margin: 0 auto;
  position: relative;
  min-width: 300px;
}
a {
  text-decoration: none;
  color: rgb(10, 50, 120);
}
a:hover {
  color: rgb(90, 130, 200);
}
header {
  text-align: right;
  margin: 0 30px;
}
h1, h2 {
  font-weight: normal;
}
h1 {
  font-family: 'Gruppo', cursive;
  font-size: 5em;
  margin: 0 auto;
}
h2 {
  font-size: 3em;
  margin-top: 0;
}
section {
  display: table;
  margin: 50px;
}
article {
  display: table-cell;
  height: 100%;
  width: 30%;
  position: relative;
  border-left: 3px solid rgba(0, 0, 0, .3);
}
article a {
  font-size: 1.3em;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
}
.site-img-wrapper {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: rgba(217, 236, 253, 0.5);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-img-wrapper img {
  border: 3px solid black;
  border-radius: 3px;
  width: 60%;
  min-width: 200px;
  max-width: 400px;
}
.site-text-wrapper {
  padding: 0 10px;
  min-height: 161px;
}
article a:hover {
  color: black;
}
article:nth-child(3n+1) {
  background-color: #ff8900;
}
article:nth-child(3n+1):hover {
  background-color: #ff9910;
}
article:nth-child(3n+2) {
  background-color: #a8f000;
}
article:nth-child(3n+2):hover {
  background-color: #b8ff10;
}
article:nth-child(3n+3) {
  background-color: #40a5db;
}
article:nth-child(3n+3):hover {
  background-color: #50b5eb;
}
footer {
  background-color: #5dcfc3;
  margin: 0;
  padding: 30px;
  text-align: center;
}

@media all and (max-width: 900px) {
  h1 {
    margin-left: 130px;
  }
  section {
    display: block;
    margin: 0;
  }
  article {
    position: relative;
    display: block;
    border: none;
    border-top: 3px solid rgba(0, 0, 0, .3);
    clear: left;
    width: 100%;
  }
  .site-img-wrapper {
    float: left;
    width: 236px;
    margin-right: 10px;
    display: inline-block;
  }
  .site-img-wrapper img {
    width: 200px;
    height: 120px;
  }
  .site-text-wrapper {
    padding: 10px;
    min-height: 141px;
  }
  footer {
    border-top: 3px solid rgba(0, 0, 0, .3);
  }
}
@media all and (max-width: 650px) {
  h1 {
    padding-top: 50px;
    margin-left: 0;
  }
  header {
    text-align: center;
  }
  .site-img-wrapper {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-img-wrapper img {
    width: 60%;
    height: auto;
  }
}