@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Gruppo);
@import url(http://fonts.googleapis.com/css?family=Codystar|Carrois+Gothic|Ruda|Carrois+Gothic+SC);

html {
  background-color: white;
  background-color: #5dcfc3;
  padding: 0;
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
  /*width: 900px;*/
  /*box-shadow: 0 0 50px 10px #eee;*/
  margin: 0 auto;
  position: relative;
  min-width: 300px;
}

a {
  text-decoration: none;
  color: rgb(10, 50, 120);
}
a:hover {
  color: rgb(90, 130, 200);
}

header {
  text-align: right;
  margin: 0 30px;
}
h1, h2 {
  font-weight: normal;
}
h1 {
  font-family: 'Gruppo', cursive;
  font-size: 5em;
  margin: 0 auto;
}
h2 {
  font-size: 3em;
  margin-top: 0;
}

article {
  display: block;
  margin: 50px;
  position: relative;
  clear: left;
}
article a {
  font-size: 1.3em;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
}
article .site-img-wrapper {
  float: left;
  width: 206px;
  padding: 15px;
  margin-right: 10px;
  display: inline-block;
  background-color: rgba(217, 236, 253, 0.5);
}
article .site-img-wrapper img {
  border: 3px solid black;
  border-radius: 3px;
}
article .site-text-wrapper {
  padding: 1px 10px 10px 0;
  min-height: 161px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article a:hover {
  color: black;
}
article:nth-child(3n+1) {
  background-color: #ff8900;
}
article:nth-child(3n+1):hover {
  background-color: #ff9910;
}
article:nth-child(3n+2) {
  background-color: #a8f000;
}
article:nth-child(3n+2):hover {
  background-color: #b8ff10;
}
article:nth-child(3n+3) {
  background-color: #40a5db;
}
article:nth-child(3n+3):hover {
  background-color: #50b5eb;
}

footer {
  background-color: #5dcfc3;
  margin: 0;
  padding: 30px;
  text-align: center;
}

@media all and (max-width: 900px) {
  article {
    margin: 0;
  }
  article .site-text-wrapper {
    padding: 10px;
  }

  footer {
    margin-top: 3px;
    border-top: 3px dashed black;
  }
}
@media all and (min-width: 550px) {
  h1 {
    padding-left: 30px;
  }
}
@media all and (max-width: 550px) {
  h1 {
    padding-top: 50px;
  }
}
@media all and (max-width: 450px) {
  header {
    text-align: center;
  }
}
@media all and (max-width: 400px) and (min-width: 100px) {
  article {
    border-top: 3px solid rgba(0, 0, 0, .3);
  }
  article .site-img-wrapper {
    width: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}