#bios aside {
  position: fixed;
  overflow-y: hidden;
  max-height: 700px;
  min-height: 300px;
  z-index: 51;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  background-color: rgba(75, 75, 75, .85);
  color: white;
  transition: all 0.3s ease;
}
#bios .closed {
  bottom: -100px;
  max-height: 0;
  min-height: 0;
}

#bios h4 {
  font-size: 6em;
  margin: 0;
}
#bios h4 a {
  color: rgb(200, 200, 230);
}
#bios h4 a:hover {
  color: rgba(255, 255, 255, .8);
}

#bios p {
  font-size: 1.5em;
}
#bios p:first-of-type {
  margin-top: 0;
}
#bios p a, #bios a.close {
  background-color: rgb(200, 200, 200);
  display: inline-block;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 4px;
  padding: 7px 10px;
}
#bios p a:hover, #bios a.close {
  background-color: rgb(190, 190, 190);
  border: 2px solid rgb(175, 175, 175);
}
#bios a.close {
  font-size: .8em;
  position: absolute;
  top: 50px;
  right: 50px;
}