header {
  text-align: right;
  margin: 0 30px;

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-family: 'Gruppo', cursive;
    font-size: 5em;
    margin: 0;
  }

  h2 {
    font-size: 3em;
    margin-top: 0;
  }
}

.sites {
  margin: 50px;
  position: relative;

  section {
    display: table;
    width: 100%;
    table-layout: fixed;

    article {
      font-size: 1.3em;
      display: table-cell;
      height: 100%;
      position: relative;
      border-left: 3px solid rgba(0, 0, 0, .3);

      &.hidden {
        display: none
      }

      $colors: #ff8900,
               #a8f000,
               #40a5db;
      $i: 0;
      @each $color in $colors {
        $i: $i + 1;
        &:nth-child(3n+#{$i}) {
          background-color: $color;

          &:hover {
            background-color: lighten($color, 6%);
          }
        }
      }
    }

    article:not(.text) {
      a {
        color: black;
        display: block;
        margin: 0;
        padding: 0;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.site-img-wrapper {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(217, 236, 253, 0.5);
  box-sizing: border-box;

  img {
    border: 3px solid black;
    border-radius: 3px;
    width: 60%;
    min-width: 200px;
    max-width: 400px;
  }
}

.site-text-wrapper {
  padding: 0 10px;
  min-height: 161px;
  h3 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
  }
}

.text {
  vertical-align: top;
  h3 {
    font-size: 3.4em;
    text-align: center;
  }
}

#prev, #next {
  display: none;
  position: absolute;
  top: 25%;
  z-index: 50;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  text-align: center;
  color: black;
  font-family: arrows;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 7px -2px black;

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }

  &.disable {
    cursor: default !important;
    background-color: rgba(230, 230, 230, 0.7) !important;
  }
}

#prev {
  left: -0.8em;
}

#next {
  right: -0.8em;
}

footer {
  background-color: #5dcfc3;
  border-top: 3px solid rgba(0, 0, 0, .3);
  margin: 0;
  padding: 30px;
  text-align: center;
}