header {
  text-align: right;
  margin: 0 30px;

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-family: 'Gruppo', sans-serif;
    font-size: 5em;
    margin: 0;
  }

  h2 {
    font-size: 3em;
    margin-top: 0;
  }
}

.sites {
  margin: 0;
  margin-bottom: -20px;
  overflow-x: scroll;

  section {
    display: table;
    &:not(ie) { table-layout: fixed; }
    width: (8 * (100% / 3));
  }

  article {
    padding: 0;
    font-size: 1.3em;
    display: table-cell;
    border-left: 3px solid rgba(0, 0, 0, .3);
    width: (100% / 3);

    @mixin bg-hover($color) {
      background-color: $color;
      &:hover { background-color: lighten($color, 6%); }
    }

    $colors: #ff8900, #a8f000, #40a5db;
    @include bg-hover(nth($colors, 2));
    &:first-child { @include bg-hover(nth($colors, 1)); }
    @each $color in $colors {
      &:nth-child(3n+#{index($colors, $color)}) {
        @include bg-hover($color);
      }
    }

    a {
      color: black;
      display: block;
      margin: 0;
      padding: 0;
      height: 100%;

      &:hover {
        color: black;
      }
    }
    &.text a { @extend .link; }
  }
}

.site-img-wrapper {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(217, 236, 253, 0.5);
  box-sizing: border-box;

  img {
    border: 3px solid black;
    border-radius: 3px;
    width: 60%;
    min-width: 200px;
    max-width: 400px;
  }
}

.site-text-wrapper {
  padding: 0 10px;
  min-height: 161px;
  h3 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
  }
}

.text {
  vertical-align: top;
  h3 {
    font-family: 'Gruppo', sans-serif;
    font-size: 3.4em;
    text-align: center;
  }
}

nav {
  height: 50px;
  margin-bottom: -50px;
}
#prev, #next {
  display: none;
  position: absolute;
  z-index: 50;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  font-family: arrows;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 7px -2px black;

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }

  &.disable {
    cursor: default !important;
    background-color: rgba(230, 230, 230, 0.7) !important;
  }
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

footer {
  background-color: #5dcfc3;
  border-top: 3px solid rgba(0, 0, 0, .3);
  margin: 0;
  padding: 30px;
  text-align: center;
}