@font-face {
  font-family: "arrows";
  src: url("../fonts/arrows.eot");
  src: url("../fonts/arrows.eot?#iefix") format("embedded-opentype"), url("../fonts/arrows.ttf") format("truetype"), url("../fonts/arrows.svg#arrows") format("svg"), url("../fonts/arrows.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body {
  overflow-x: hidden; }
  @media all and (max-width: 300px) {
    html, body {
      overflow-x: scroll; } }

html {
  background-color: #5dcfc3; }

body {
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  position: relative;
  min-width: 300px; }

a {
  text-decoration: none;
  color: #0a3278; }
  a:hover {
    color: #5a82c8; }

header {
  text-align: right;
  margin: 0 30px; }
  header h1, header h2 {
    font-weight: normal; }
  header h1 {
    font-family: 'Gruppo', cursive;
    font-size: 5em;
    margin: 0; }
  header h2 {
    font-size: 3em;
    margin-top: 0; }

.sites {
  margin: 50px;
  position: relative; }
  .sites section {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .sites section article {
      display: table-cell;
      height: 100%;
      position: relative;
      border-left: 3px solid rgba(0, 0, 0, 0.3); }
      .sites section article.hidden {
        display: none; }
      .sites section article a {
        font-size: 1.3em;
        color: black;
        display: block;
        margin: 0;
        padding: 0; }
        .sites section article a:hover {
          color: black; }
      .sites section article:nth-child(3n+1) {
        background-color: #ff8900; }
        .sites section article:nth-child(3n+1):hover {
          background-color: #ff971f; }
      .sites section article:nth-child(3n+2) {
        background-color: #a8f000; }
        .sites section article:nth-child(3n+2):hover {
          background-color: #b7ff10; }
      .sites section article:nth-child(3n+3) {
        background-color: #40a5db; }
        .sites section article:nth-child(3n+3):hover {
          background-color: #5ab1e0; }

.site-img-wrapper {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(217, 236, 253, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .site-img-wrapper img {
    border: 3px solid black;
    border-radius: 3px;
    width: 60%;
    min-width: 200px;
    max-width: 400px; }

.site-text-wrapper {
  padding: 0 10px;
  min-height: 161px; }
  .site-text-wrapper h3 {
    margin-bottom: 0; }
  .site-text-wrapper h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic; }

#prev, #next {
  display: none;
  position: absolute;
  top: 25%;
  z-index: 50;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  text-align: center;
  color: black;
  font-family: arrows;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 7px -2px black;
  box-shadow: 0 0 7px -2px black; }
  #prev:hover, #next:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black; }
  #prev.disable, #next.disable {
    cursor: default !important;
    background-color: rgba(230, 230, 230, 0.7) !important; }

#prev {
  left: -0.8em; }

#next {
  right: -0.8em; }

footer {
  background-color: #5dcfc3;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 30px;
  text-align: center; }

@media screen and (max-width: 900px) {
  header h1 {
    margin-left: 130px; }

  .sites {
    display: block;
    margin: 0; }
    .sites nav {
      display: none; }
    .sites section {
      display: block; }
      .sites section article {
        position: relative;
        display: block;
        border: none;
        border-top: 3px solid rgba(0, 0, 0, 0.3);
        width: 100%; }

  .site-img-wrapper {
    position: absolute;
    float: left;
    height: 100%;
    width: 236px;
    margin-right: 10px;
    display: inline-block; }
    .site-img-wrapper img {
      width: 200px;
      height: 120px; }

  .site-text-wrapper {
    margin-left: 236px;
    padding: 10px;
    min-height: 141px; } }
@media screen and (max-width: 650px) {
  header {
    text-align: center; }
    header h1 {
      padding-top: 50px;
      margin-left: 0; }

  .site-img-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .site-img-wrapper img {
      width: 60%;
      height: auto; }

  .site-text-wrapper {
    margin: 0; } }
#bios aside {
  position: fixed;
  overflow-y: hidden;
  max-height: 700px;
  z-index: 51;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  background-color: rgba(75, 75, 75, 0.85);
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none; }
  #bios aside.closed {
    bottom: -100px;
    max-height: 0; }
  #bios aside h4 {
    font-size: 6em;
    margin: 0;
    margin-right: 150px; }
    #bios aside h4 a {
      color: #c8c8e6; }
      #bios aside h4 a:hover {
        color: rgba(255, 255, 255, 0.8); }
  #bios aside p {
    font-size: 1.5em; }
    #bios aside p:first-of-type {
      margin-top: 0; }
  #bios aside p a, #bios aside a.close {
    background-color: #c8c8c8;
    display: inline-block;
    border: 2px solid #b4b4b4;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 5px; }
    #bios aside p a:hover, #bios aside a.close:hover {
      background-color: #bebebe;
      border: 2px solid #afafaf;
      cursor: pointer; }
  #bios aside a.close {
    font-size: .8em;
    position: absolute;
    top: 50px;
    right: 50px; }
  @media screen and (max-width: 650px), screen and (max-height: 600px) {
    #bios aside {
      position: relative;
      max-height: none;
      bottom: auto;
      left: auto;
      right: auto;
      z-index: auto;
      border-top: 3px solid rgba(0, 0, 0, 0.3);
      padding: 25px;
      -webkit-transition: none;
      transition: none; }
      #bios aside h4 {
        font-size: 3em;
        margin-bottom: 20px; } }

.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden; }
  .ribbon a {
    display: block;
    color: white;
    text-align: center;
    /* Next two add up to 35px: */
    font: bold 19px Sans-Serif;
    padding: 16px 0;
    background-color: #cc4125;
    color: white;
    text-decoration: underline; }
    .ribbon a:hover {
      color: white;
      background-color: #dc5135; }
  @media all and (min-width: 651px) {
    .ribbon {
      /* Total width and height, should be the same. */
      width: 150px;
      height: 150px; }
      .ribbon a {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: relative;
        /* Next two trial and error: */
        right: -30px;
        top: 30px;
        /* Double .ribbon-wrapper width/height. */
        width: 250px;
        float: right; } }
  @media all and (max-width: 650px) {
    .ribbon {
      width: 100%; } }
