@font-face {
  font-family: "arrows";
  src: url("../fonts/arrows.eot");
  src: url("../fonts/arrows.eot?#iefix") format("embedded-opentype"), url("../fonts/arrows.ttf") format("truetype"), url("../fonts/arrows.svg#arrows") format("svg"), url("../fonts/arrows.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body {
  overflow-x: hidden; }
  @media all and (max-width: 300px) {
    html, body {
      overflow-x: scroll; } }

html {
  background-color: #5dcfc3; }

body {
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  position: relative;
  min-width: 300px; }

a, .link, .sites article.text a {
  text-decoration: none;
  color: #0a3278; }
  a:hover, .link:hover, .sites article.text a:hover {
    color: #5a82c8; }

#hire {
  background-color: #5dcfc3;
  padding: 10px; }

header {
  text-align: right;
  margin: 0 30px; }
  header h1, header h2 {
    font-weight: normal; }
  header h1 {
    font-family: 'Gruppo', sans-serif;
    font-size: 5em;
    margin: 0; }
  header h2 {
    font-size: 3em;
    margin-top: 0; }

.sites {
  margin: 0;
  margin-bottom: -20px;
  overflow-x: scroll; }
  .sites section {
    display: table;
    width: 266.66667%; }
    .sites section:not(ie) {
      table-layout: fixed; }
  .sites article {
    padding: 0;
    font-size: 1.3em;
    display: table-cell;
    border-left: 3px solid rgba(0, 0, 0, 0.3);
    width: 33.33333%;
    background-color: #a8f000; }
    .sites article:hover {
      background-color: #b7ff10; }
    .sites article:first-child {
      background-color: #ff8900; }
      .sites article:first-child:hover {
        background-color: #ff971f; }
    .sites article:nth-child(3n+1) {
      background-color: #ff8900; }
      .sites article:nth-child(3n+1):hover {
        background-color: #ff971f; }
    .sites article:nth-child(3n+2) {
      background-color: #a8f000; }
      .sites article:nth-child(3n+2):hover {
        background-color: #b7ff10; }
    .sites article:nth-child(3n+3) {
      background-color: #40a5db; }
      .sites article:nth-child(3n+3):hover {
        background-color: #5ab1e0; }
    .sites article a {
      color: black;
      display: block;
      margin: 0;
      padding: 0;
      height: 100%; }
      .sites article a:hover {
        color: black; }

.site-img-wrapper {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(217, 236, 253, 0.5);
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .site-img-wrapper img {
    border: 3px solid black;
    border-radius: 3px;
    width: 60%;
    min-width: 200px;
    max-width: 400px; }

.site-text-wrapper {
  padding: 0 10px;
  min-height: 161px; }
  .site-text-wrapper h3 {
    margin-bottom: 0; }
  .site-text-wrapper h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic; }

.text {
  vertical-align: top; }
  .text h3 {
    font-family: 'Gruppo', sans-serif;
    font-size: 3.4em;
    text-align: center; }

nav {
  height: 50px;
  margin-bottom: -50px; }

#prev, #next {
  display: none;
  position: absolute;
  z-index: 50;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  font-family: arrows;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 7px -2px black; }
  #prev:hover, #next:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black; }
  #prev.disable, #next.disable {
    cursor: default !important;
    background-color: rgba(230, 230, 230, 0.7) !important; }

#prev {
  left: 0; }

#next {
  right: 0; }

footer {
  background-color: #5dcfc3;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 30px;
  text-align: center; }

@media screen and (max-width: 900px) {
  header h1 {
    margin-left: 130px; }

  nav {
    display: none; }

  .sites {
    display: block;
    margin: 0;
    overflow-x: auto; }
    .sites section {
      display: block;
      width: 100%; }
      .sites section article {
        position: relative;
        display: block;
        border: none;
        border-top: 3px solid rgba(0, 0, 0, 0.3);
        width: 100%; }

  .site-img-wrapper {
    position: absolute;
    float: left;
    height: 100%;
    width: 236px; }
    .site-img-wrapper img {
      width: 200px;
      height: 120px; } }
    @media screen and (max-width: 900px) and (min-width: 650px) {
      .site-img-wrapper img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }

@media screen and (max-width: 900px) {
  .site-text-wrapper {
    margin-left: 236px;
    padding: 10px;
    min-height: 141px; }

  .text h3 {
    margin: 0; }
  .text .site-text-wrapper {
    margin-left: 0;
    min-height: 0;
    text-align: center; } }
@media screen and (max-width: 650px) {
  header {
    text-align: center; }
    header h1 {
      padding-top: 50px;
      padding-bottom: 10px;
      margin-left: 0;
      font-size: 4em; }
    header h2 {
      display: none; }

  .site-img-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .site-img-wrapper img {
      width: 60%;
      height: auto; }

  .site-text-wrapper {
    margin: 0; } }
#bios aside {
  position: fixed;
  overflow-y: hidden;
  max-height: 700px;
  z-index: 51;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  background-color: #4b4b4b;
  background-color: rgba(75, 75, 75, 0.85);
  color: white;
  transition: all 0.3s ease;
  display: none; }
  #bios aside h4 {
    font-size: 6em;
    margin: 0;
    margin-right: 150px; }
    #bios aside h4 a {
      color: #c8c8e6; }
      #bios aside h4 a:hover {
        color: rgba(255, 255, 255, 0.8); }
  #bios aside p {
    font-size: 1.5em; }
    #bios aside p:first-of-type {
      margin-top: 0; }
  #bios aside p a, #bios aside a.close {
    background-color: #c8c8c8;
    display: inline-block;
    border: 2px solid #b4b4b4;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 5px; }
    #bios aside p a:hover, #bios aside a.close:hover {
      background-color: #bebebe;
      border: 2px solid #afafaf;
      cursor: pointer; }
  #bios aside a.close {
    font-size: .8em;
    position: absolute;
    top: 50px;
    right: 50px; }
  #bios aside.closed {
    bottom: -100px;
    max-height: 0; }
  #bios aside.small {
    bottom: auto;
    max-height: none;
    position: relative;
    left: auto;
    right: auto;
    z-index: auto;
    border-top: 3px solid rgba(0, 0, 0, 0.3);
    padding: 25px;
    transition: none; }
    #bios aside.small h4 {
      font-size: 3em;
      margin-bottom: 20px; }
    #bios aside.small a.close {
      display: none; }

.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  text-align: center; }
  .ribbon a {
    display: block;
    color: white;
    font: bold 19px sans-serif;
    line-height: 55px;
    padding: 0;
    width: 100%;
    color: white;
    text-decoration: underline; }
    .ribbon a:before {
      content: '';
      display: block;
      z-index: -1;
      left: 0;
      right: 0;
      height: 55px;
      margin-bottom: -55px;
      background-color: #CC4125; }
    .ribbon a:hover:before {
      background-color: #dc563c; }
  @media all and (min-width: 651px) {
    .ribbon {
      width: 150px;
      height: 150px;
      line-height: 150px; }
      .ribbon a {
        display: inline-block;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -19.44643px;
        left: -19.44643px;
        width: auto; }
        .ribbon a:before {
          position: absolute;
          left: -150px;
          width: 300px; } }

/*# sourceMappingURL=main.css.map */