@media screen and (max-width: 900px) {
  header {
    h1 {
      margin-left: 130px;
    }
  }

  .sites {
    display: block;
    margin: 0;

    nav {
      display: none;
    }

    section {
      display: block;

      article {
        position: relative;
        display: block;
        border: none;
        border-top: 3px solid rgba(0, 0, 0, .3);
        width: 100%;
      }
    }
  }

  .site-img-wrapper {
    position: absolute;
    float: left;
    height: 100%;
    width: 236px;
    margin-right: 10px;
    display: inline-block;

    img {
      width: 200px;
      height: 120px;
    }
  }

  .site-text-wrapper {
    margin-left: 236px;
    padding: 10px;
    min-height: 141px;
  }

  .text {
    h3 {
      margin: 0;
    }
    p {
      min-height: 0;
      text-align: center;
    }
  }
}