@media screen and (max-width: 900px) {
  header {
    h1 {
      margin-left: 130px;
    }
  }

  nav {
    display: none;
  }

  .sites {
    display: block;
    margin: 0;
    overflow-x: auto;

    section {
      display: block;
      width: 100%;

      article {
        position: relative;
        display: block;
        border: none;
        border-top: 3px solid rgba(0, 0, 0, .3);
        width: 100%;
      }
    }
  }

  .site-img-wrapper {
    position: absolute;
    float: left;
    height: 100%;
    width: 236px;

    img {
      width: 200px;
      height: 120px;
      
      @media screen and (min-width: 650px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .site-text-wrapper {
    margin-left: 236px;
    padding: 10px;
    min-height: 141px;
  }

  .text {
    h3 {
      margin: 0;
    }
    .site-text-wrapper {
      margin-left: 0;
      min-height: 0;
      text-align: center;
    }
  }
}