@function approximateSq($num, $approx) {
  @return (( $num / $approx ) + $approx) / 2;
}

@function sqrt($num) {
  $testRoot: 0;
  $upperBounds: round($num / 2) + 1; // Never need over half the main number. Add one just to be sure!
  @for $test from 2 through $upperBounds {
    $sq: $test * $test;
    @if $sq <= $num {
      $testRoot: $test;
    }
  }

  @return (approximateSq($num, $testRoot));
}

.ribbon {
  $size: 150px;
  $height: 55px;
  $font: 19px;
  $color: #CC4125;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;

  a {
    display: block;
    color: white;

    font: bold $font sans-serif;
    line-height: $height;
    padding: 0;
    width: 100%;

    color: white;
    text-decoration: underline;

    &:before {
      content: '';
      display: block;
      z-index: -1;
      left: 0;
      right: 0;
      height: $height;
      margin-bottom: 0 - $height;
      background-color: $color;
    }

    &:hover:before {
     background-color: lighten($color, 7.5%);
    }
  }

  @media all and (min-width: 651px) {
    width: $size;
    height: $size;
    line-height: $size;

    a {
      display: inline-block;
      position: relative;
      transform: rotate(-45deg);
      $center: sqrt(2 * $height/1px * $height/1px);
      top: $center * -1px/4;
      left: $center * -1px/4;
      width: auto;
      &:before {
        position: absolute;
        left: -1 * $size;
        width: 2 * $size;
      }
    }
  }
}
