@media screen and (max-width: 650px) {
  header {
    text-align: center;

    h1 {
      padding-top: 50px;
      margin-left: 0;
    }
  }

  .site-img-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    img {
      width: 60%;
      height: auto;
    }
  }

  .site-text-wrapper {
    margin: 0;
  }
}